:root {
    --primary: #049ad5;
    --secondary: #04d1d5;
    background-color: #090909;
  }
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  .menu{
    display: none;
  }
  .img-logo{
    width: 100px;
  }
.tech-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  5vh 2vh;
}
.work{
    text-align: center;
    background-color: #049ad5;
    padding: 7vw;
}
p{
    font-size: 1.1rem;
    transition: 1s;
}
p:hover{
    color: white;
}
i{
    color: #303030;
}
span{
    font-size: 1.1rem;
    color: #303030;
}
.tech-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;/* 
    border: 2px solid #212121; */
}
h1{
    font-size: 3rem;
    color: var(--primary);
}
h2{
    font-size: 3rem;
    color: var(--primary);
    text-align: center;
    margin-top: 20vh;
}
h3{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    text-align: center;
}
h4{
    color: white;
    padding:0px 30% 0px 0px;
}
header{
    background:none;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    background-color: #090909;
    width: 100vw;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navItems{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0.8rem;
    transition: 1s;
}
.navItems:hover{
    color: var(--primary);
}
.navItems:focus{
    color: var(--primary);
    text-decoration: underline;
}
.btn-nav{
    padding: 5px 15px;
    background: none;
    border: 1.2px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 1s;
}
.btn-nav:hover{
    background-color: var(--primary);
    color: white;
}
.hero{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
}
.img-hero{
    margin-top: 20vh;
    width: 100%;
}
.hero-description{
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-evenly;
    padding: 25vh 0px;
}
.hero-description-card{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: #848484;
}

.services{
    background-color: #ECECEC;
    background-size:cover;
    background-image: url('img/illustrations/bg-wave.png');
    position: relative;
    z-index: -1;
    width: 100vw;
}
.wrap-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10vh 0px;
}
.curve1{
    background-color: #090909;
    position: relative;
    height: 10vh;
    width: 100vw;
    border-radius: 0 0 50% 50%;
    z-index: 0;
}
.bottom{
    position:relative;
    height:20vh;
}
.line1{
    background: var(--secondary);
    background: linear-gradient(356deg, var(--secondary) 0%, var(--primary) 100%);
    position: absolute;
    bottom: 0px;
    height: 20vh;
    width: 100vw;
}
.curve2{
    background-color: #090909;
    position: absolute;
    bottom:0px;
    height: 10vh;
    width: 100vw;
    border-radius: 50% 50% 0 0;
}
.cardService{
    padding:18px;
    width:200px;
    margin:20px;
    border-radius:30px;
    box-shadow: 2px 1px 5px rgb(199, 199, 199);
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content:center;
    text-align: center;
    align-items:center;
    color: #303030;
}
.about-content{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content:center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 15vh;
}
.img-about{
    width: 100%;
    border-radius: 10px;
}
.team-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 10vh 0px;
}
.team-card{
    background-color: rgba(255, 255, 255, 0.259);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
}
.img-team{
    width: 200px;
}
.team-name{
    color: #404040;
    font-size: 0.8rem;
}
.team-position{
    font-size: 1.3rem;
    color: #303030;
}
.footer{
    margin-top: 15vh;
    padding: 5vh 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #101010;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 0 20px #303030;
}
li{
    color: #303030;
    list-style: none;
    margin: 5px;
    text-align: center;
}
ul{
    text-align: center;
}
.mobil{
    display: none;
}
.logo-mobil{
    display: none;
}
.modal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width:1000px){
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 15vh;
        text-align: center;
    }
    .img-hero{
        margin-top: 5vh;
    }
    h4{
        padding: 1vh 25vw;
    }
    h1{
        padding: 0vh 15vw;
    }
}
@media only screen and (max-width:800px){
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 15vh;
        text-align: center;
    }
    .img-hero{
        margin-top: 5vh;
    }
    h4{
        font-size: 1.2rem;
        padding: 1vh 25vw;
    }
    h1{
        font-size: 2.3rem;
        padding: 0vh 15vw;
    }
    .hero-description{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .hero-description-card{
        margin-bottom: 30px;
    }
    .modal-item{
        margin: 40px 10px 0px;
    }
    .logo-pc{
        display: none;
    }
    .logo-mobil{
        display: flex;
    }
    .bx-menu{
        color: var(--primary);
    }
    .menu{
        display: flex;
    }
    .nav{
        display: none;
    }
}
@media only screen and (max-width:420px){
    .about-content{
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .img-about{
        border-radius: 0px;
    }
    h2{
        margin-top: 90px;
    }
    .mobil{
        display: flex;
        width: 100%;
    }
    .pc{
        display: none;
    }
    .text-about{
        padding: 20px;
    }
    .team-body{
        margin: 20px 0px
    }
    .cardService{
        width: 150px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:7px;
    }
    h3{
        padding: 20px 30px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        text-align: center;
    }
    .img-hero{
        margin-top:20px;
    }
    h4{
        font-size: 1.2rem;
        padding: 10px 40px ;
        font-weight: lighter;
    }
    h1{
        font-size: 2rem;
        padding: 0vh 30px;
    }
}